body {
  background-color: powderblue;
  
}
form{
  background-color: mintcream;
  border: 1rem solid lightsteelblue;
  padding: .5in;
  margin: .25in;

}

  #container {
   
    width: 440px;
    
    display: grid;
    grid-template-columns: repeat(5, 0.1fr)
  
  }

  .square {
    height: 80px;
    width: 80px;
    background-color: white;
    display: line-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    maxlength: 1;
  }

  
  #enter {
    height: 30px;
    width: 70px;
    background-color: orange;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    
  }

  #enter:hover {
    background-color: yellow;
  }



  #restart:hover {
    border: 10px darkblue;
  }

