body {
  background-color: powderblue;
  
}

  #container {
    height: 350px;
    width: 250px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 0.1fr)
  
  }

  .square {
    height: 80px;
    width: 80px;
    background-color: white;
    display: line-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    onmousedown="prevent()";
  }

  #enter {
    height: 30px;
    width: 70px;
    background-color: orange;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    left: 820px;
    top: 150px;
  }

  #enter:hover {
    background-color: yellow;
  }



  #go{
    top: 200px;

  }

  #restart:hover {
    border: 10px darkblue;
  }

