BODY{
  background-color: powderblue
}

form{
  background-color: mintcream;
  border: 1rem solid lightsteelblue;
  padding: .5in;
  margin: .25in;
}

.word input{
  height: 80px;
  width: 80px;
  display: line-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  onmousedown="prevent()";
}